# Ignore Gradle's project-specific cache directory:
/.gradle/

# Ignore Gradle's build output directory:
/build/

# Ignore IDE-specific directories:
/.idea/
/.nb-gradle/
/private/

# Ignore the Acorus sandbox:
/Written Assets/

# Ignore extracted native libraries:
/*.dll
/*.dylib
/*.so
