# Ignore Gradle's project-specific cache directory:
/.gradle/

# Ignore IDE-specific directories:
/.idea/
/.nb-gradle/

# Ignore Gradle's build output directories:
/build/

# Ignore the Acorus sandbox:
/Written Assets/

# Ignore extracted native libraries:
/*.dll
/*.so

/private/
