---
# GitHub Actions workflow for commits pushed to the Maud repo - all branches

name: CI at GitHub
on: [push]

jobs:
  Java17-Linux:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: gradle/actions/wrapper-validation@v5
      - run: ./gradlew -x checkstyleMain build javadoc --console=plain --stacktrace
      - uses: actions/upload-artifact@v6
        with:
          name: linux build
          path: build/distributions/Maud.tar

  Java25-Windows:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: 25
      - run: ./gradlew build javadoc --console=plain --stacktrace
        shell: bash
      - uses: actions/upload-artifact@v6
        with:
          name: windows build
          path: build/distributions/Maud.zip
